body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    overflow-y: scroll;
    min-height: 100vh;
}

.contact-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main-header {
    background-color: #1e1f19;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    padding-left: 25px;
    padding-right: 25px;
}

.logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-button {
    background-color: transparent;
    color: white;
    font-size: 1.8em;
    border: transparent;
    display: none;
}

.main-navigation {
    display: flex;
    flex-flow: row wrap;
}

.main-navigation a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}

.main-navigation a:hover {
    color: lightgray;
}

.user-nav {
    display: flex;
    flex-flow: row wrap;
}

.user-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}

.user-nav a:hover {
    color: lightgray;
}



.dropdown {
    position: relative;
}

.dropdown a {
    display: block;
}

/* means in .dropdown, select first "a" after dropdown, :: means sudo-element */
.dropdown>a::after {
    content: "\25bc";
    font-size: small;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    max-height: 0px;
    overflow: hidden;
    min-width: 100%;

    /* by default, elements have a z-index value of 0 */
    /* by setting z-index to 999, it brings the dropdown menu to the front */
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    max-height: 50vh;
}

.dropdown-menu a {
    white-space: nowrap;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.site-search {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.7em;
    min-width: 30vw;
}

.site-search input {
    flex: 1;
    padding: 0.5em;
    border: 1px solid transparent;
}

.site-search button {
    padding: 0.5em;
    border: 1px solid transparent;
}

.slide {
    width: 100%;
}

.slide img {
    max-width: 100%;
    /* below code ensures all images have the same aspect ratio */
    aspect-ratio: 16/6;
    object-fit: cover;
    object-position: center;
    
}

/* content grid */

.featured-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    gap: 2em;
}

.card-image {
    max-width: 100%;
    aspect-ratio: 6/10;
}

.card-content {
    padding: 1em;
}

.card {
    background-color: darkgray;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    font-weight: bold;
}

.card-button {
    display: block;
    background-color: black;
    color: azure;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    max-width: 100%;
}


.card-content p {
    font-size: 18px;
}

.card-button:hover {
    background-color: rgb(54, 54, 54);
}

.col-4 {
    grid-column: span 4;
}

.col-3 {
    grid-column: span 3;
}

.main-footer {
    background-color: rgb(31, 28, 20);
    margin-top: 5em;
}

.social-nav a {
    color: white;
    font-size: 2em;
}

.social-nav a:hover {
    color: gray;
}

.social-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1em;
    width: 100%;
}

.footer-container {
    /* 2em for top and bottom, 4em for left and right */
    padding: 1.5em 4em;
    display: flex;
    flex-flow: row wrap;
}

.footer-nav {
    display: flex;
    flex-flow: column nowrap;
    color: white;
    
}

.footer-nav a {
    display: block;
    /* color: white; */
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.1em;
}

.footer-nav a:link {
    color: white;
}

.footer-nav a:visited {
    color: white;
}

.footer-nav a:hover {
    color: gray;
}

.footer-nav a:active {
    font-weight: bolder;
    color: rgb(131, 131, 131);
}

.footer-nav a.active {
    font-weight: bolder;
    color: rgb(131, 131, 131);
}

.footer-nav h4 {
    padding: 0.6em;
    margin: 0px;
    text-decoration: underline;
}

/* styling an ID uses a hash instead of a period */
#contact-form label {
    display: block;
    font-weight: bold;
}

#contact-form input {
    display: block;
    width: 30%;
    margin-bottom: 1em;
    padding: 0.3em;
    box-sizing: border-box;
}

#contact-form textarea {
    display: block;
    width: 80%;
    padding: 0.5em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

#map {
    width: 100%;
}

#contact-form .card-button {
    width: 80%;
}

.address-img {
    float: left;
    width: 60%;
    padding: 0.5em;
}

.contact-address {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.4em;
}

#aboutus-grid .card-image {
    max-height: 20%;
}

.aboutus-image {
    max-width: 100%;
    aspect-ratio: 4/3
}